*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.mai {
  margin: auto;
  justify-items:center ;
}
/* 
.headimg{
  color: greenyellow;
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  
  
}
.img_div
{
  display: flex;
  justify-content: center;
}
.img_div img{
  
  height: 200px;
  width: 150px;

  
}
/* .card{
  height: 500px;
  width: 500px;
  color: red;
  
} */
/* .heading_style{
  color: green;
  text-align: center;

}
.main{
  background-color: aquamarine;
  display: flex;
  margin: auto;
  
}
.card{
justify-content: center;
} */ 

/* ...  ...practice Netflix... */

.card{
  display: flex;
  justify-content: center;
}